#login-button {
  margin-bottom: 20px;
}

.copy-text-container {
    display: flex;
    column-gap: .5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 0;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 8px;
    background: rgb(20, 20, 20);
    color: white;
    width: fit-content;
    height: fit-content;
}

.copy-text-inline {
  color: rgb(220, 220, 220);
  overflow: auto;
}
.copy-text-inline>span {
  font-weight: bold;
  color: rgb(230, 230, 230);
}
.copy-button-inline {
    padding: .2rem;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 8px;
    background: rgb(60, 60, 60);
    color: rgb(233, 233, 233);
    font-weight: bold;
    cursor: pointer;
}