#login-button {
  margin-bottom: 20px;
}

.copy-container {
  display: flex;
  column-gap: .5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
  border: 2px solid rgb(78, 78, 78);
  border-radius: 8px;
  background: rgb(20, 20, 20);
  color: white;
  width: auto;
  height: fit-content;
  margin-bottom: 1rem;
}

.copy-container label {
  color: rgb(157, 157, 157);
  overflow: auto;
  white-space: nowrap;
  cursor: default;
}
.copy-container #copy-text {
  font-weight: bold;
  color: rgb(230, 230, 230);
}
.copy-container button {
    padding: 0.25em;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 8px;
    background: rgb(60, 60, 60);
    color: rgb(233, 233, 233);
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
}