.form-box {
  border: 2px solid rgb(78, 78, 78);
  padding: 1rem;
  margin-bottom: 1rem;
  width: max(70%, 400px);
  border-radius: 8px;
}

.form-box input {
  grid-area: input;
  width: auto;
  border: 2px solid rgb(78, 78, 78);
  padding: 5px;
  border-radius: 8px;
}

.form-box input:invalid + span::after {
  grid-area: required;
  position: absolute;
  vertical-align: middle;
  content: "*";
  padding-left: 5px;
  color: rgb(177, 38, 38);
  font-size: 1rem;
}

.form-box input:valid + span::after {
  content: "";
}

.form-box label {
  display: inline-block;
  grid-area: label;
  width: 90px;
  text-align: right;
  vertical-align: top;
  padding: 0.25em;   /* Align with default style minimal mistakes has for input tags */
}

.form-box .field {
  display: grid;
  grid-template: "label input required" auto / 90px 1fr auto;
}