.form-box {
  border: 2px solid rgb(78, 78, 78);
  padding: 1rem;
  margin: 0px auto;
  width: max(70%, 400px);
  border-radius: 8px;
}

input {
  grid-area: input;
  width: min(80%, auto);
  border: 2px solid rgb(78, 78, 78);
  padding: 5px;
  border-radius: 8px;
}

input:invalid + span::after {
  position: absolute;
  vertical-align: middle;
  content: "*";
  padding-left: 5px;
  color: rgb(177, 38, 38);
  font-size: 1rem;
}

input:valid + span::after {
  content: "";
}

label {
  display: inline-block;
  grid-area: label;
  width: 90px;
  text-align: right;
  vertical-align: top;
  padding: 0.25em;   /* Align with default style minimal mistakes has for input tags */
}

.field {
  display: grid;
  grid-template: "label input" 1rem / 90px 1fr;
}